@{
    ViewBag.Title = "git2ftp - Home";
}

<div class="jumbotron">
    <h1>git2ftp</h1>
    <p class="lead">Automatic Website Publish from GitHub to FTP</p>
    <div class="row">
        <p class="col-md-2"><a class="btn btn-primary btn-large" href="http://go.microsoft.com/fwlink/?LinkId=301865">Register New Project &raquo;</a></p>
        <p class="col-md-2" ><a class="btn btn-primary btn-large" href="https://github.com/omeriko9/git2ftp">Github Project &raquo;</a></p>
    </div>
</div>

<p class="btn btn-default" id="submit-name">Test POST</p>
<p>
    @{ if (System.Web.HttpContext.Current.Application["gitResponse"] != null)
       { 
           Response.Write(System.Web.HttpContext.Current.Application["gitResponse"].ToString());
       }
    }

</p>
<script type="text/javascript">
    console.debug('@Url.Action("WebhookEvent", "GitHubWebHook")');
    // jQuery's doc ready handler
    $(function () {

        $("#submit-name").click(function () {

            var nameEntered = "omer";
       
            $.post(
                '@Url.Action("GitHubPost", "GitHubWebHook")',
                { texttodisplay: nameEntered },
                handleSuccess
            );

        });

    });

    function handleSuccess(content) {
        console.debug('success');
    }

</script>

<div class="jumbotron">
    <h4>Projects:</h4>

</div>
<!--
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Register Project &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
-->



